body{
	color: #4c4c4c;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.bg-primary{
	background-color: #3333cc!important;
}

.navbar-light .navbar-nav .nav-link{
	/*color: #fff;*/
	/*border-right: 1px solid #3366ff;*/
	padding:10px 20px; 
	transition: 0.3s all;
}

.navbar-light .navbar-nav .nav-link:hover{
	font-size: 17px;
	color: #3366ff;
	text-decoration: underline #3366ff;
}

.carousel-item{
	max-height: 500px;
}
.carousel-img{
	height: 500px;
}

.indiceNav{
	color: #595959;
}

.projeto{
	height: 400px;
	background-image: url('../../img/banner_4.jpg');
}

.projeto, .carousel-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center  fixed;
	background-size: cover; 
}
