body{
	color: #4c4c4c;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.bg-primary{
	background-color: #3333cc!important;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	border-right: 1px solid #3366ff;
	padding:10px 20px; 
	transition: 0.3s all;
	: 
}

.navbar-dark .navbar-nav .nav-link:hover{
	background-color: #3366ff;
}

.carousel-item{
	max-height: 500px;
}
.carousel-img{
	height: 500px;
	background-repeat: no-repeat;
	background-position: center center  fixed;
	background-size: cover; 
}
<<<<<<< HEAD
=======
#header>.botaoArm{
	position: absolute;
	background-color: black;
}

.indiceNav{
	color: blue;
}
>>>>>>> 05e91c7712a5b49fd1627674b37f7baafdaf646a
